.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: bolder; */
    font-style: normal;
  }
  body{
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 80px;
  }
  /* header styles */
  header{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 150px;
  }

  .banner-content{
    align-items: center;
    width: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
 .btn-1{
    background-color: rgba(13, 19, 33, 1.00);
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
 }